body {
  background-color: #456;
  background-image: url("landscape.jpg");
}

.header {
  /* position: relative; */
  margin-top: 300px;
  margin-left: 60%;
  font-size: 60px;
  font-family: roboto;
  font-weight: bold;
  color: white;
}
